.pp-able {
	position: absolute;
	display: block;
	overflow: hidden;
	opacity: 0;
}
.pp-laidout {
	opacity: 1;
}

.pp-able .pp-image {
	position: absolute;
	right: auto;
	bottom: auto;
	margin: 0;
}

#pp-sandbox {
	position: absolute;
	overflow: hidden;
	left: -1000px;
	width: 500px;
}

body div#pp-sandbox img.pp-cacheimg {
	position: relative;
	width: auto;
	height: auto;
}
